body {
  font-family: monospace;
}

head {
  link rel="stylesheet" href="css-practice.css">
}

h1 {
  color: blue
}

h2{
  color: red;
  font-weight: bold;
}

p {
  text-indent: 3cm;
{
  list-style-type: upper-roman;
}
